# LxCenter APT Repository
#
# Updates repository
deb [trusted=yes] https://raw.githubusercontent.com/hawk2012/kloxo-rewrite/main/  ubuntu main
deb [trusted=yes] https://raw.githubusercontent.com/hawk2012/kloxo-rewrite/main/  debian main

# Testing repository (disabled by default)
# Do not use/enable this on production servers!
# You are warned.
# deb [trusted=yes] https://raw.githubusercontent.com/hawk2012/kloxo-rewrite/main/testing/  ubuntu main
# deb [trusted=yes] https://raw.githubusercontent.com/hawk2012/kloxo-rewrite/main/testing/  debian main